[submodule "40423117"]
	path = 40423117
	url = https://github.com/40423117/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423103"]
	path = 40423103
	url = https://github.com/40423103/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423101"]
	path = 40423101
	url = https://github.com/40423101/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423104"]
	path = 40423104
	url = https://github.com/40423104/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423144"]
	path = 40423144
	url = https://github.com/40423144/2016fallcadp_hw.git
	branch = gh-pages
